Implicit flow in OAuth API returns token in query string

If I do an OAuth authorization request with the implicit grant flow, ie. going to `https://www.mapillary.com/connect?client_id=xxx&redirect_uri=http://example.com/auth&response_type=token&scope=public:write`, once I click the "Authenticate" button, I'm taken to `http://example.com/auth?token_type=bearer&access_token=xxx&expires_in=never`.

This doesn't follow the OAuth 2.0 specification. According to [RFC 6749 section 4.2](http://tools.ietf.org/html/rfc6749#section-4.2), and in particular section 4.2.2, the access token and other information should be sent in the *fragment* component of the redirect URI (ie. after the `#` character), not in the *query* component (after the `?` character). 4.2 step D makes it clear that this is intentional to prevent the access token from being sent to the server hosting the redirected page.

Yes this is actually a choice we made (whatever its good or bad Im not sure), since most authentication is made within a browser a XHR request will simply send the token anyway.

Its probably not a good idea to break the standard. Do you have any strong opinions on this or can you work with having it as query parameters.

> Yes this is actually a choice we made (whatever its good or bad Im not sure), since most authentication is made within a browser a XHR request will simply send the token anyway.

An XHR request to the Mapillary server would go via SSL-encrypted HTTP. A request to my redirect_uri not necessarily so.

> Its probably not a good idea to break the standard.

Either I'm misreading your reply or you misunderstood the problem :) It's indeed not a good idea to break the standard. The standard says it should use #, Mapillary uses ?. The Mapillary API *is* breaking the standard now, switching to # would *fix* it.

> Do you have any strong opinions on this or can you work with having it as query parameters.

I can easily work with this being a query parameter, but it could be a problem if you fix it to follow the standard *a few months from now* when my application is already released. So I would like either a fix, or a promise that this will keep using query parameters (against the RFC), documented in mapillary_apidoc.

The flow for the request would be "Mapillary Oauth Page" -> "Redirect" -> "Your page" on your page you have a javascript that pulls the information from whats after the anchor and sends it with XHR to your server (http or https we have no control over that).

You can safely assume that its going to be a parameter.

What application are you working on? I would be happy to assist in any way I can.

My page would *not* send the token to my server.

The implicit flow, according to the RFC, is that I request the Mapillary OAuth page, the user authorizes the app, the browser is redirected to http://example.com/auth#token=asd, Javascript on that page grabs the token from `location.hash`, and uses it to do direct XHR requests to Mapillary. It doesn't send the token to the example.com server. If the example.com server needs access to the token, the application shouldn't be using the implicit flow to begin with, it should use the authorization code flow.

What is currently happening is that the browser is redirected to http://example.com/auth?token=asd, which directly sends the token to example.com, which is pointless if it's only needed on 

Let's put it this way: what is the rationale for intentionally deviating from the spec and using query instead of fragment? The spec authors chose # for a reason. Is there a *better* reason for Mapillary not to comply? If there is, let me know, and I'll send a pull request documenting it properly in mapillary_apidocs :)

For the flow Im not talking about your part, Im more commenting on the statement "4.2 step D makes it clear that this is intentional to prevent the access token from being sent to the server hosting the redirected page". Its true that it does not send it in the request but there is no way we can prevent a user from building a webpage that will do what I described above hence this security measure is in reality useless. The one that really has effect is us preventing evil users to tamper with the redirect_url, what a user chose todo with the token we have no control over.

The reason for not complying is to make it easier for desktop clients to use this kind of flow, that way they do not have to implement above described javascript for getting the token (one of these clients are the Mapillary JOSM client).

If you can make a pull request to apidocs that would be awesome :)

Also please let me know if I can help out with your application. I would be happy to get on skype to explain a little more about our API and whats in the pipeline.

Your mention of JOSM made me finally understand the point of this. You're opening the authentication endpoint in an external web browser, then the browser redirects to http://localhost:8763/?token=xxx in which JOSM is listening. That will not work if you use a fragment.

The spec-compliant way to do this would be to have localhost:8763 return a script that grabs the token from the fragment and POSTs it to another localhost URL, or to use the authorization code flow instead, or to use an embedded browser from which JOSM can read the URL including fragment (embedded browsers for OAuth are generally not recommended).

My conclusion: It's a fact that the API is not following the spec, but there *are* good reasons for it, and either way you can't fix it now as it would break *at least* the JOSM plugin.

It's not worth the trouble. Leave it for APIv3 :)