Login email verification does not comply with IETF standards

The subject says it. The verification specifically does not comply with [RFC 5322 section 3.4](https://tools.ietf.org/html/rfc5322#section-3.4) including [RFC 6531 section 3.3](https://tools.ietf.org/html/rfc6531#section-3.3) for internationalized addresses. For a condensed discussion on valid email addresses you can read the [Wikipadia article](https://en.wikipedia.org/wiki/Email_address#Syntax). It is astonishingly easy to read and also pretty much exhaustive.

I am willing to understand that the verification does not accept quoted strings for the local part of the email address (the reasons can be read in the RFCs), but I do have a problem that the verification does not accept internationalized addresses (they can be stored and processed in IDN encoding internally). This is indeed a big thing. The IETF and IANA have worked hard for the past few years to finally internationalize internet standards where applicable. Not only that, it is rather insulting or disrespectful to only accept email addresses (as user names) in the Latin script. The internet has always been a place for **all** nations and cultures of this world, including languages and scripts. Please respect this.

Now, from the user's perspective using an email address as one of the login credentials is probably a good thing, mainly because this is something most people can easily remember, like their phone number or post address. On the other hand, it shifts some of the security concerns to the email service provider, especially in the case when a (Mapillary) user forgets his/her password. Once an email account has been compromised an attacker can easily request a password reset or password reminder from Mapillary. So, in this situation, there is something outside of Mapillary's control.

However, there is another problem with email addresses as user names for logins. If an email account has been closed (for whatever reason) and the user has forgotten his/her password, the user cannot receive a password reset or password reminder email. Additionally, the user has very little at hands to prove his/her identity to reset the Mapillary password. Of course, this is a problem common to almost every internet service, not just Mapillary. Some well-known internet giants try to tackle this problem with collecting even more identification data from their users, like cell phone numbers or birthdays etc., so that identity _can_ perhaps be proven in case this would become really necessary. Saying this, does not mean that I am advocating to collect more data on users. I am just commenting on this because Mapillary may need to rethink its authentication process.


Thanks for reporting @GITNE - makes sense.

What is perhaps even more bothering than internationalized addresses is that it does except some clearly invalid email addresses like ```user..name@domain.tld``` or ```.username@domain.tld```. Of course, these addresses will not or should not be accepted by any SMTP hosts but it seems like applying double standards, which ultimately results in applying no standards all (or bogus standards).

Which standard forbids multiple dots in the user part? 

> Which standard forbids multiple dots in the user part?

Multiple dots are allowed but not **consecutive** dots. In fact dots are special characters in the local part of an email address which cause all preceding characters, excluding quoted strings, to become a dot atom. No empty dot atoms may exist. Please read [RFC 5322 section 3.4.1](https://tools.ietf.org/html/rfc5322#section-3.4.1). The older, superseded [RFC 822 section 6.1](https://tools.ietf.org/html/rfc822#section-6.1) is perhaps more clear or easier to understand. The local part is defined as: ```local-part = word *("." word)```. This means that email addresses must not start with a dot, nor can have consecutive dots in the local part.

Just wanted to share some proof that internationalized email addresses and domain names are not just a fetish of some bureaucrats solving non-existing problems: https://www.mapillary.com/map/im/I36KG8qprYz6Wk5Bu3a-4w
They exist, they are coming, and will eventually become the norm.

That last photo is a great example.

@GITNE: We have a more robust regex in place to check email validity. I can't guarantee you 100% spec compliance, but something around 99.9% :wink:.

> @GITNE: We have a more robust regex in place to check email validity. I can't guarantee you 100% spec compliance, but something around 99.9%. :wink:

Great! :smile:
But what about internal storage and case sensitive handling, like in #1805?

We'll handle that in #1805